
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/grabient-HQNgTAHANMAsEFYZjLKBaADMAzARmi2DAE4QZYTDtY8wNswQSY8B2cvXJh4BE+ui6ZMOIA-1756201960704.png);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #C5BAB7;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #5C7EA1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #9AA8B5;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    background: #55759B;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 15px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #5C7EA1;

}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('images/checked.png');
}




ul li span {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 350px;
    width: 50px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;


}


ul li span:hover {
    background-position: right center;
   
    color: #fff;
    text-decoration: none;
}
@keyframes example {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
/* }
@keyframes bakgrund { */
    0%   {background-color: #314755;}
    15%  {background-color: #26a0da;}
    40%  {background-color: #314755;}
    55%  {background-color: #26a0da;}
    70%  {background-color: #314755;}
    90%  {background-color: #26a0da;}
}
.knapp {
    /* animation: bakgrund 4s infinite; */
    animation: example 4s infinite;
    text-align: center;
    padding: 40px;
   
    
}
